.contenedorDetalle {
    display: flex;

}


.price {
    margin: 0;
}

.breadcrumbList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}

.breadcrumbList li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.breadcrumbItem.active {
    color: #333;
}

.breadcrumbItem .breadcrumbItem::before {
    content: '/';
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}

.description {
    border-top: 0.0625rem solid #e3dddd;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
}

.addtocart {
    position: relative;
    display: inline-block;
    background: #3e3e3f;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateZ(0);
    transition: color 0.3s ease;
    letter-spacing: 0.0625rem;
}

.addtocart:hover::before {
    transform: scaleX(1);
}

.addtocart::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #565657;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}

.container {
    margin: auto;
    padding: 0 1rem;
    max-width: 75rem;
    width: 100%;
}

.grid>[class*="column-"] {
    padding: 1rem;
}

.gridProduct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.gridProduct:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.gridProduct:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.gridProduct {
    padding: 0 0 1.5rem 0;
}

.gridSecond-nav>[class*="column-"] {
    padding: 0.5rem 1rem;
}

footer {
    padding: 1rem 0;
    text-align: center;
}

.productImage {
    display: none;
}

.imageList {
    margin: 0;
}

.imageItem {
    margin: 15px;
}

h2 {
    font-size: 3em;
}

@media (min-width:760px) {

    .productImage img {
        width: 100%;
    }

    .imgPrincipal {
        width: 100%;
    }



    .imageList {
        width: 100%;
    }

    .productImage {
        display: block;
    }

    .productImage {
        height: 52vh;
    }

    .productImage {
        display: block;
        margin: 0 0 0.75rem 0;
    }

    img.active {
        display: block;
        margin: 0 0 0.75rem 0;
    }

    .imageList {
        display: flex;
        overflow: hidden;
    }

    .imageList li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;
    }

    .imageList li:nth-child(3) {
        margin: 0;
    }

    .imageList img {
        height: 10rem;
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

    .imageList img:hover {
        opacity: 0.7;
    }


}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}