.contenedor {}

.card-list {
    width: 100%;
    text-align: center;
    margin: 0 auto !important;

}

ul {}

.card {
    width: 400px;
    float: left !important;
    margin: 2rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    background: #fff center center no-repeat;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 100%;
    background: #fff center center no-repeat;
    background-size: cover;
    opacity: 1;

}

.card-image:hover {
    width: 100%;
    opacity: 0.8;
}

.card-description {
    padding: 2em 1em;
    color: #a500bb;
    text-decoration: none;
}

.card-description h2 {
    font-size: 16px;
}

.card-description p {
    margin: 0;
    font-size: 14px;
    color: rgb(168, 168, 168);
    border-top: #a500bb solid 1px;
}

/*boton*/
.bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
    outline: 0;
}


.bubbly-button:hover {
    background-color: #a500bb;
}